/* media-queries.css */
@media screen and (max-width: 768px) {
    .container-main {
        grid-template-columns: 1fr;
    }

    .container-main>div {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .container-main>div img {
        margin-left: auto;
        margin-right: auto;
    }

    .container-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    #lastImage {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    main {
        top: 320vh;
    }

    .container-main>div {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .container-main>div img {
        margin-left: auto;
        margin-right: auto;
    }
}